<!doctype html>
<%- include('../partials/head'); %>
<html lang="en">
<header>
    <%- include('../partials/header'); %>
</header>

<body class="text-center">

<main class="form-signin">
    <form>
        <br>
        <h1>A B O U T</h1>
        <hr>
        <br><br>
        <h3>This is a server side project developed by Stefan Tcaciuc</h3>
        <br><br>
    </form>
</main>
<%- include('../partials/footer'); %>
</body>
</html>
