<!doctype html>
<%- include('../partials/head'); %>
<html lang="en">
<header>
    <%- include('../partials/header'); %>
</header>

<body class="text-center">

<main class="form-signin">
    <form>
        <br>
        <h1>H O M E - P A G E</h1>
        <hr>
        <br><br>
        <h3>Welcome to the homepage of Stefan Tcaciuc for the server side web development final Project</h3>
        <br><br>
    </form>
</main>
<%- include('../partials/footer'); %>
</body>
</html>
